.todo-item-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  max-width: 700px;
}

.button {
  height: 40px;
  width: 90px;
  background-color: transparent;
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #ff0b37;
  margin-left: 50px;
  margin-bottom: 20px;
}
